/* line 396, scss/pages/_home.scss */
.article {
    margin-top: 50px; }
    /* line 398, scss/pages/_home.scss */
    .article-title {
      font-family: "Heebo", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0.5px;
      color: #333333; }
    /* line 408, scss/pages/_home.scss */
    .article-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 35px;
      margin-top: 40px; }
      @media only screen and (max-width: 992px) {
        /* line 408, scss/pages/_home.scss */
        .article-items {
          grid-template-columns: repeat(2, 1fr);
          justify-content: center; } }
      @media only screen and (max-width: 768px) {
        /* line 408, scss/pages/_home.scss */
        .article-items {
          grid-template-columns: repeat(1, 1fr);
          justify-content: center; } }
    /* line 424, scss/pages/_home.scss */
    .article-item {
      background: #F4F4F4;
      box-shadow: 0px 12px 24px rgba(68, 68, 68, 0.1);
      border-radius: 10px; }
      /* line 428, scss/pages/_home.scss */
      .article-item__img {
        height: 303px; }
        @media only screen and (max-width: 768px) {
          /* line 428, scss/pages/_home.scss */
          .article-item__img {
            height: auto; } }
        /* line 433, scss/pages/_home.scss */
        .article-item__img img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px; }
      /* line 440, scss/pages/_home.scss */
      .article-item__title {
        font-family: "Heebo", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.5px;
        color: #000000;
        margin-top: 22px;
        margin-left: 24px;
        padding-bottom: 15px; }
      /* line 452, scss/pages/_home.scss */
      .article-item__text {
        font-family: "Heebo", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.5px;
        color: #000000; }
      /* line 461, scss/pages/_home.scss */
      .article-item-text {
        display: flex;
        flex-direction: column; }